{% extends 'base.html' %}

{% block title %} Home | JMIT Cafe {% endblock %}

{%block content%}
{% if user.is_authenticated %}
Hi {{ user.username }}!
<a href="{% url 'logout' %}">Log out</a>
<!--#take to the catalo(i.e. shop app)-->
{% else %}
<p>You are not logged in!</p>
<a href="{% url 'login' %}">Login</a>
{% endif %}
{% endblock %}
<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
    <!--<meta charset="UTF-8">-->
    <!--<title>Home|JMIT CAFE</title>-->
<!--</head>-->
<!--<body>-->

<!--</body>-->
<!--</html>-->